html,
body {
  padding: 0;
  margin: 0;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

svg {
  min-width: fit-content;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

@font-face {
  font-family: "Moche";
  src: url("/fonts/Moche-Regular.eot");
  src: url("/fonts/Moche-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Moche-Regular.woff2") format("woff2"),
    url("/fonts/Moche-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PolySans";
  src: url("/fonts/PolySans-Slim.woff2") format("woff2"),
    url("/fonts/PolySans-Slim.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PolySans";
  src: url("/fonts/PolySans-SlimItalic.woff2") format("woff2"),
    url("/fonts/PolySans-SlimItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Web3Modal fixes */
.web3modal-modal-card {
  border-radius: 0 !important;
}
.web3modal-modal-lightbox {
  background-color: rgba(9, 3, 1, 0.87) !important;
  backdrop-filter: blur(24px) !important;
  -moz-backdrop-filter: blur(24px) !important;
}
